.navbar {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 2em;
}

.signup {
    background-color: #ADE1DE;
    padding: 1em;
    margin-left: 1em;
    border-radius: 0.5em;
}
