@media (max-width: 600px) {
    .navigation-nav {
        display: none;
    }
    
    .home-text {
        display: none;
    }
    
    .navigation-max-width {
        padding-bottom: 0em;
        margin-bottom: 0em;
    }
    
    .home-main {
        padding-top: 2em;
    }
    
    .home-tab-selector-header {
        padding-top: 1em;
    }
    
    .Heading2 {
        font-weight: 300;
    }
    
    .home-tab-selector-cards-container {
        display: flex;
        flex-direction: column;
    }
    
    .home-max-width1 {
        flex-direction: column;
    }
    
    .home-image {
        display: none;
    }
    
    .section-container {
        padding: 30px 0;
    }
    
    .home-text10 {
        margin-right: 0.5em;
    }
    
    .home-links-container,
    .home-top-part {
        flex-direction: column;
        gap: 2em;
    }
    
    .home-subscribe-container {
        width: 100%;
    }
    
    .button-primary {
        padding: 1.5em 2em;
    }
}