@import url(https://fonts.googleapis.com/css2?family=Agbalumo&display=swap);

html {
    font: 16px / 1.5 "Agbalumo";
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.7em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

.country-container p {
    font-size: 1.4em;
}

.main-content {
    font-size: 1.9em;
    line-height: 1.8;
}

.facts h2 {
    color: white;
}

.facts-list li {
    line-height: 2;
    font-size: 1.9em;
    font-weight: 300;
}

.facts-list li span {
    font-weight: bold;
}
